In [5]:
import pandas as pd

# File path for the CSV file
csv_file_path = 'insights_from_CATEGORICAL_FORMATTED_VIKASPEDIA.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(csv_file_path)

# Select and display only the first three columns
df = df.iloc[:, :3]  # Selecting the first three columns
df

,FILE_NAME,CATEGORY,TOTAL_TOKENS(excluding_spaces)
0,Cooperative-societies-in-agricultural-sector.txt,Agri-Credit,1647
1,Interest-subvention-scheme-for-farmers.txt,Agri-Credit,1152
2,Priority-sector-lending.txt,Agri-Credit,3207
3,Revised-Kisan-Credit-Card-Scheme.txt,Agri-Credit,2480
4,20th-Livestock-Census.txt,Agri-Directory,3061
...,...,...,...
1233,Special-provisions-for-women-farmers-in-nation...,Women-and-agriculture,4722
1234,Success-in-Agro-Forestry.txt,Women-and-agriculture,680
1235,Success-Story-of-Cultivation-of-Potato.txt,Women-and-agriculture,312
1236,Tools-and-equipments-to-reduce-women-drudgery.txt,Women-and-agriculture,1425
1237,Wings-of-Self-Confidence--Success-through-Goat...,Women-and-agriculture,1381

In [10]:
df = df.sort_values(by='TOTAL_TOKENS(excluding_spaces)')
df.reset_index(inplace=True, drop=True)
df

,FILE_NAME,CATEGORY,TOTAL_TOKENS(excluding_spaces)
0,Related-Ministries.txt,Agri-Directory,0
1,State-Agriculture-departments.txt,Agri-Directory,0
2,Related-portals.txt,Agri-Directory,0
3,First-of-its-kind-Fly.docx,ICT-applications-in-Agriculture,0
4,Input-agencies.txt,Agri-Directory,0
...,...,...,...
1233,Horticulture.txt,State-specific-schemes-for-farmers,7836
1234,Common-animal-diseases-and-their-management.txt,Livestock,8721
1235,Production-of-Major-Carps.txt,Fisheries,8995
1236,Processing-of-fish.txt,Fisheries,10246
1237,Technologies-from-CIPHET.txt,Post-Harvest-Technologies,14524

In [13]:

# Count the number of values less than 4050
equal_to_0 = (df['TOTAL_TOKENS(excluding_spaces)'] ==0 ).sum()

# Count the number of values less than 4050
less_than_4050 = (df['TOTAL_TOKENS(excluding_spaces)'] <= 4050).sum()

# Count the number of values greater than 4050
more_than_4050 = (df['TOTAL_TOKENS(excluding_spaces)'] > 4050).sum()

print(f"Values equal to 0: {equal_to_0}")
print(f"Values less than 4050: {less_than_4050}")
print(f"Values more than 4050: {more_than_4050}")

Values equal to 0: 6
Values less than 4050: 1201
Values more than 4050: 37

In [15]:
df[df['TOTAL_TOKENS(excluding_spaces)'] ==0]

,FILE_NAME,CATEGORY,TOTAL_TOKENS(excluding_spaces)
0,Related-Ministries.txt,Agri-Directory,0
1,State-Agriculture-departments.txt,Agri-Directory,0
2,Related-portals.txt,Agri-Directory,0
3,First-of-its-kind-Fly.docx,ICT-applications-in-Agriculture,0
4,Input-agencies.txt,Agri-Directory,0
5,Commodity-Boards.txt,Agri-Directory,0

In [27]:
import os

def copy_files_based_on_condition(df, source_dir, dest_dir, categories, condition):
    filtered_data = df[condition]
    for index, row in filtered_data.iterrows():
        source_file_path = os.path.join(source_dir, row['CATEGORY'], row['FILE_NAME'])
        with open(source_file_path, "r", encoding="utf-8") as source_file:
            dest_file_path = os.path.join(dest_dir, categories, row['CATEGORY'], row['FILE_NAME'])
            os.makedirs(os.path.join(dest_dir, categories, row['CATEGORY']), exist_ok=True)
            with open(dest_file_path, "w", encoding="utf-8") as dest_file:
                dest_file.write(source_file.read())

source = "CATEGORICAL_FORMATTED_VIKASPEDIA"
dest = "SPLITTED_CATEGORICAL_FORMATTED_VIKASPEDIA"
categories = ["equal_to_0", "less_than_4050", "more_than_4050"]

equal_to_0_condition = df['TOTAL_TOKENS(excluding_spaces)'] == 0
less_than_4050_condition = df['TOTAL_TOKENS(excluding_spaces)'] <= 4050
more_than_4050_condition = df['TOTAL_TOKENS(excluding_spaces)'] > 4050

copy_files_based_on_condition(df, source, dest, categories[0], equal_to_0_condition)
copy_files_based_on_condition(df, source, dest, categories[1], less_than_4050_condition)
copy_files_based_on_condition(df, source, dest, categories[2], more_than_4050_condition)